/*font*/
/*Barlow 600*/
@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@600&display=swap');

/*fraunce 700 900*/
@import url('https://fonts.googleapis.com/css2?family=Fraunces:wght@700;900&display=swap');


/*color*/

:root {
    --soft-red: hsl(7, 99%, 70%);
    --yellow: hsl(51, 100%, 49%);
    --Dark-desaturated-cyan: hsl(167, 40%, 24%);
    /*graphic design text*/
    --dark-blue: hsl(198, 62%, 26%);
    /*photography text*/
    --dark-moderate-cyan: hsl(168, 40%, 70%);
    /*footer*/

    --very-dark-destaured-blue: hsl(212, 27%, 19%);
    --Very-dark-grayish-blue: hsl(213, 9%, 39%);
    --Dark-grayish-blue: hsl(232, 10%, 55%);
    --Grayish-blue: hsl(210, 4%, 67%);
    --White: hsl(0, 0%, 100%);
}





* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    list-style-type: none;

}

body {
    overflow-x: hidden;

}

a {
    text-decoration: none;
}

h1,
h2,
h3,
h4 {
    font-family: 'fraunce', sans-serif;

}


p,
li {
    font-family: 'barlow', sans-serif;
    font-size: 18px;
}

h2 {
    font-size: 40px;
}

h3 {
    font-size: 20px;
    font-weight: 900;
}

/*header*/
header {
    background: url(./img/image-header.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    padding: 2rem;
    height: 100vh;
    position: relative;
    color: var(--White);



}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 10px;
}

.header>a>img {
    margin-left: 1.2rem;
    height: 33px;
    width: 170px;



}

.hamburger {
    display: none;
}

.header>nav>ul {
    list-style-type: none;
    display: flex;
    align-items: center;

}

.header>nav>ul>li {

    padding: 16px 40px 15px 32px;
    gap: 47px;


}

.header>nav>ul>li>a:last-of-type {
    border: 1px solid var(--White);
    border-radius: 28px;
    padding: 16px 40px 15px 32px;
    background-color: var(--White);
    color: black;



}

.header>nav>ul>li>a:last-of-type:hover {
    color: var(--White);
    background-color: transparent;

}



.text {


    text-align: center;
    transform: translateY(120px);

}



.text>h1 {

    font-size: 53px;
    letter-spacing: 8.75px;
    text-transform: uppercase;
    line-height: 69px;

}

.downarrow {
    transform: translateY(96px);

    height: 100px;

}

/* 1eme section*/


.cerise {
    background: url(./img/image-graphic-design.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    text-align: center;

    flex-basis: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;


}

.cerise p {
    margin-bottom: 59px;
    width: 50%;
    color: var(--Dark-desaturated-cyan);

}

.cerise h2 {
    margin-bottom: 27px;
    color: var(--Dark-desaturated-cyan);


}

.orange {
    background: url(./img/image-photography.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    text-align: center;
    flex-basis: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;


}

.orange h2 {
    margin-bottom: 27px;
    color: var(--dark-blue);
}

.orange p {
    width: 50%;
    margin-bottom: 59px;
    color: var(--dark-blue);
}


.grid {
    display: grid;
    grid-template-rows: repeat(3, 1fr);
}


.grid>section {
    display: flex;

}




.left-side {

    display: flex;
    flex-basis: 100%;
    justify-content: center;
    align-items: center;




}

.picture1 {
    flex-basis: 100%;

}

.picture1 img {
    width: 100%;
    height: 100%;
}





.left-side-text {

    width: 445px;


}

.left-side-text p {
    margin: 3em auto 3em auto;
    display: block;
    line-height: 30px;
    color: var(--Dark-grayish-blue);
    letter-spacing: -0.128571px;
}

.left-side-text h4 {
    border-bottom: 2px solid var(--yellow);
    border-width: 10px;
    width: 30%;
    text-transform: uppercase;
    border-radius: 5px;
}

.left-side-text h2 {
    line-height: 49px;
}





.right-side-text {
    width: 445px;
}

.right-side-text p {
    margin: 3em 0;
    color: var(--Dark-grayish-blue);
}

.right-side-text h4 {
    border-bottom: 2px solid var(--soft-red);
    border-width: 10px;
    width: 30%;
    text-transform: uppercase;
    border-radius: 5px;
}


.right-side {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-basis: 100%;
}













/*2eme section*/

.testimonial {
    text-align: center;
    height: 92vh;
    background: #f2f2f2;
}

.testimonial h3 {
    padding-top: 81px;
    color: var(--Grayish-blue);
}

.info {
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    padding: 50px;
    letter-spacing: -0.128571px;

}

.info img {
    width: 72px;
    height: 72px;
    border-radius: 50%;
    margin: 44px 0 58px 0
}

cite {
    color: var(--Grayish-blue);
    font-family: 'Barlow';
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 25px;


    text-align: center;
    letter-spacing: -0.1px;




}


.info1 {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 50%;
}

.info1 p {
    margin-bottom: 69px;
    width: 350px;
    line-height: 30px;
    color: var(--very-dark-destaured-blue);
}




/*3eme section*/


.galery {
    display: grid;


    grid-template-columns: repeat(4, 1fr);

}

.galery picture img {
    width: 100%;
    height: 100%
}


/*footer*/



footer {
    background: var(--dark-moderate-cyan);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    padding: 90px;
    flex-basis: 100%;
}


footer nav ul {
    display: flex;
    margin: 40px 0 88px 0;
    gap: 57px;


}



.logo-end ul {
    display: flex;


}

.logo-end ul li a img {
    margin: 0 30px 72px 0;
    width: 20px;
    height: 20px;
}

.logo-ch {
    filter: invert(37%) sepia(13%) saturate(1988%) hue-rotate(118deg) brightness(95%) contrast(78%);
    width: 170px;
    height: 33px;
    color:  hsla(168, 46%, 31%, 1);

}


/*mobile*/
@media only screen and (min-width: 320px) and (max-width: 480px) {

    /*header*/
    .header nav ul {
        display: none;
    }

    .hamburger {
        display: inline-block;

    }

    .text {
        text-align: center;

        transform: translateY(88px);
    }

    .text h1 {

        font-size: 46px;
        line-height: 49px;
        letter-spacing: 6.25px;

    }

    .downarrow {
        transform: translateY(70%);
    }



    .header {
        padding-top: 0;
    }

    .header>a>img {
        margin-left: 0;
        transform: translateX(-20px);
    }

    /*1ere section*/

    .grid {
        grid-template-rows: auto;
    }

    .grid section {
        flex-direction: column;
    }

    .grid .section {
        display: flex;
        flex-direction: column-reverse;
    }

    .cerise {
        height: 150vh;
        background-position: center;

    }

    .cerise h2 {
        margin-top: 80%;
    }

    .cerise p {
        width: 80%;

    }

    .orange {
        background-position: center;
    }

    .orange h2 {
        margin-top: 80%;

    }

    .orange p {
        width: 80%;

    }

    .left-side-text>h2,
    p {
        width: 90%;




    }

    .left-side-text {
        width: fit-content;
        text-align: center;

    }


    .left-side-text h2 {
        margin: 50px auto 0 auto;
    }

    .left-side-text h4 {
        width: 120px;
        position: relative;
        margin-bottom: 24px;
        left: 32%;
    }

    .left-side-text p {
        margin: 54px auto 40px auto;
    }

    .right-side-text>h2,
    p {
        width: 90%;



    }

    .right-side-text {
        width: fit-content;
        text-align: center;


    }

    .right-side-text h2 {
        margin: 50px auto 0 auto;
    }

    .right-side-text p {
        margin: 54px auto 40px auto;
    }

    .right-side-text h4 {
        width: 120px;

        margin-bottom: 24px;
        position: relative;
        left: 32%;

    }




    /*2eme section*/
    .testimonial {
        height: fit-content;
    }

    .info {
        flex-direction: column;




    }

    .info1 {
        width: 100%;
    }

    .info1>p {
        width: 100%;


    }

    .galery {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
    }


}